/* navbar */
.navbar-inverse {
     
    background: -webkit-linear-gradient(#0070c0, #200020); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#0070c0, #200020); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#0070c0, #200020); /* For Firefox 3.6 to 15 */
background: linear-gradient(#0070c0, #200020); /* Standard syntax */
    border-color: #200020;
    border:2px;
}
/* title */
.navbar-inverse .navbar-brand {
    color: #FFF;
    font-weight:700;
    font-size:23px;
    font-family:Ubuntu;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #FF0;
}
/* link */
.navbar-inverse .navbar-nav > li > a {
    color: #FFF;
    font-weight:bold;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #FF0;
}
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: #900090;
}
.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #FF0;
    background-color: #900090;
}
/* caret */
.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #FFF;
    border-bottom-color: #FFF;
}
.navbar-inverse .navbar-nav > .dropdown > a:hover .caret,
.navbar-inverse .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #FF0;
    border-bottom-color: #FF0;
}
.navbar-inverse .navbar-nav > .open > a .caret, 
.navbar-inverse .navbar-nav > .open > a:hover .caret, 
.navbar-inverse .navbar-nav > .open > a:focus .caret {
    border-top-color: #FF0;
    border-bottom-color: #FF0;
}
/* mobile version */
.navbar-inverse .navbar-toggle {
    border-color: #DDD;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}
.img-responsive{
	width:85%;
}
#white{
background:#FFF;
}
.page-header{

font-family: 'Open Sans', sans-serif;

color:#0070c0;
}
#about,#contact,#projects,#cvg_banner
{
cursor: pointer; cursor: hand; 
}
#sp,p {
font-family: 'Open Sans', sans-serif;
font-weight:400;
  color:#606060;
  margin: 0 0 10px;
}
#page_3{
width:100%;
overflow-x:hidden;

}
hr{
  
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.4), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.4), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.4), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.4), rgba(0,0,0,0)); 

}
h2,h3{
font-family: 'Open Sans', sans-serif;

color:#0070c0;
}
#add_1
{
    margin-top: 2px;
    margin-bottom: 2px;
}
#add_1big
{
	font-size:16px;
    margin-top: 2px;
    margin-bottom: 2px;
}
#img_about{
position:relative;
top:25px;

}
#img_ocr{
position:relative;
left:15%;
width:75%;
}
#ubu{
font-family:Ubuntu;
color:#0070c0;
}
#img_ar{
width:77%;

}
